body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.parallax {
    background-image: url('background.image/tlo.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Styl dla sekcji testu */
.quiz-section {
    padding: 50px;
    text-align: center;
    background-color: #f4f4f4;
}

.quiz-question {
    font-size: 20px;
    margin-bottom: 10px;
}

.quiz-options label {
    display: block;
    margin: 5px 0;
}
